<li class="list-group-item list-group-item-info">
  <div class="panel panel-default">
    <div class="panel-heading"> <%= device.name %> 
      <%= link_to("Delete", device_path(device), :class => "btn btn-danger btn-xs pull-right",:method => :delete, :remote => true, data: { confirm: "You sure?" }) %> 
    </div>
          <%# it for ip cam cmd panel%>
     <%if device.category == '60' || device.category == '73' || device.category == '75'  %>
        <div class="panel-body text-center cmd">   
          <btn data-device-id=<%=device.device_id%> data-device-gw=<%=device.gw_id%> type=button class="btn btn-default on">
                <i class="fa fa-lightbulb-o"></i> On
          </btn>
          <btn data-device-id=<%=device.device_id%> data-device-gw=<%=device.gw_id%> type=button class="btn btn-warning off">
                <i class="fa fa-lightbulb-o"></i> Off
          </btn>
        </div>
      <% end %>
</li>
