<li class="list-group-item list-group-item-info">
  <div class="panel panel-default">
    <div class="panel-heading"> <%= device.name %> 
      <%= link_to("Delete", device_path(device), :class => "btn btn-danger btn-xs pull-right",:method => :delete, :remote => true, data: { confirm: "You sure?" }) %> 
    </div>
          <%# it for switch cam cmd panel%>
     <%if device.category == '60' || device.category == '73' || device.category == '75'  %>
        <div class="panel-body text-center cmd">   
          <btn data-device-id=<%=device.device_id%> data-device-gw=<%=device.gw_id%> type=button class="btn btn-default on">
                <i class="fa fa-toggle-on "></i>

          </btn>
        </div>
          <%# for ip cam stream file %>
     <%elsif device.category == '61' %>
        <div class="panel-body text-center">
          <%= link_to("Stream source", edit_device_path(device) , :class => "btn btn-warning ",:method => :get ) %>

        </div>    
      <% end %>
</li>
