<div class="row">
  <aside class="col-md-3">
    <section>
      <h1>
        <%= swot_gravatar_for @user %>
        <%= @user.name %>
        <br><br>
        <%= @user.email %>
      </h1>
      <br><br>
      <%= image_tag "factory01.jpg", :class => "img-circle" %>
    </section>
  </aside>
  <div class="col-md-9">
    <% if @user.plant_walls.any? %>
      <h3>PlantWalls (<%= @user.plant_walls.count %>)
          <%= link_to("PlantWall", new_swot_user_plant_wall_path(@user), :class => "glyphicon glyphicon-plus pull-right") %>  </h3>
      <br><br> 
      <ol class="microposts">
        <ul class="list-group">
          <%= render @plant_walls %>
        </ul>
      </ol>
    <% else %>
      <%= flash[:success] = "You must set up a plantWall" %>
      <%= link_to("Set up plantWall" , new_swot_user_plant_wall_path(@user), :class => "btn btn-danger") %>
    <% end %>
  </div>
</div>
