<% provide(:title, 'Subscription') %>
<h1>Choose device you want to use.</h1>

<div class="row">
  
  <% if false%>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
      <br></br>
      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  <% end %>
  <div id="items"> </div>
  <script>
           $(function () {
            $.ajax({
                url: "http://140.138.150.52/task_manager/v2/list",
                data: {
                        service_id: 60, 
                        service_secret: "a98fa6a13fe2ba98c28fa52dabcd9acd",
                        gwid: 1,                
                       },
                type:  "POST",
                dataType: "JSON",
               }).done(function(rep) {
               var item = rep.devices;
                 for (var i in item ){
                    $('#items').append('<div class="panel panel-success well well-lg col-md-4">'+item[i].device_name+'<br>'
                      + '<button device-id="'+ item[i].shg_device_id  +'"  type="button" class="btn btn-primary submit-device">'+ "submit" +'</button></div>');
                 }
               })
           });

           $('#items').on('click', '.submit-device', function (e) {
              e.preventDefault();

              var $thisBtn = $(this),
                  $thisDeviceId = $thisBtn.data('device-id');

                  $.ajax({
                  url: "http://140.138.150.52/task_manager/v2/subscribe",
                  data: {
                        service_id: 60, 
                        service_secret: "a98fa6a13fe2ba98c28fa52dabcd9acd",
                        gwid: 1,
                        device_id: $thisDeviceId,
                        type: "add"
                       },
                  type:  "POST",
                  dataType: "JSON",
                  }).done(function(rep) {
                    
                    $thisBtn.closest("div[class^='panel']").remove();
                  
           });
          })



  </script>
</div>