<li id="<%= feed_item.id %>">
  <%= link_to swot_gravatar_for(feed_item.swot_user), feed_item.swot_user %>
  <span class="user">
    <%= link_to feed_item.swot_user.name, feed_item.swot_user %>
  </span>
  <span class="content"><%= feed_item.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span>
</li>