<nav class="navbar navbar-defalut" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" style="background: #5bc0de;">
      <button type="button" class="navbar-toggle navbar-btn btn-lg btn-block" data-toggle="collapse" data-target="#bs-example-navbar-collapse-menu"><i class="fa fa-arrow-circle-down"></i>Menu</button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-menu" >
      <ul class="nav  nav-pills nav-stacked">
		<li class="active"><%= link_to "Suggestion",  plant_wall_suggestions_path(@wall) %> </li>
    <li class="active"><%= link_to "Realtime-Dashboard", dash_path(:plant_wall_id => @wall)  %> </li>
		<li class="active"><%= link_to "Chart_info", chart_path(:plant_wall_id => @wall) %></li>
		<li class="active"><%= link_to "Plant_view", pic_path(:plant_wall_id => @wall) %></li>
		<li class="active"><%= link_to "Live_view", cam_path(:plant_wall_id => @wall) %></li>
		<li class="active"><%= link_to "Devices",  plant_wall_devices_path(@wall) %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>