<%= link_to swot_gravatar_for(swot_current_user, size: 52), swot_current_user %>
<h1>
  <%= @wall.name %>
  <br>
  <%= @wall.location%>
</h1>
<span>
  <%= link_to "back to homepage ", swot_current_user %>
</span>
<span class="badge">
  <%= pluralize(@wall.suggestions.count, "Suggestions") %>
</span>
